In [66]:
import numpy as np

Create a 2x2 array of US v/s GB deaths in two American Revolutionary War battles listed below for US and GB correspondingly (1 point):

In [67]:
deaths = np.array([[344, 2345], [4345, 253]])

Select the entries for US deaths (1 point)

In [68]:
deaths[0][0]

344

Select the entries for GB deaths (1 point)

In [69]:
deaths[0][1]

2345

Select the entries for US deaths in the 2nd battle (1 point)

In [70]:
deaths[1][0]

4345

Sort this array along the first axis (1 point)

In [71]:
deaths[0].sort()
deaths

array([[ 344, 2345],
       [4345,  253]])

Sort this array along the second axis (1 point)

In [72]:
deaths[1].sort()
deaths

array([[ 344, 2345],
       [ 253, 4345]])

Swap rows and columns of this array (2 points)

In [73]:
deaths.T

array([[ 344,  253],
       [2345, 4345]])

What is the total number of deaths (including for US and GB) for the two battles? (1 point)

In [74]:
deaths.sum()

7287

Replace Battle 2 GB deaths in your array to 2349 (1 point)

In [75]:
deaths[1][0] = 2349
deaths

array([[ 344, 2345],
       [2349, 4345]])

Github link

https://github.com/amg515/iti221-excercises